C#/Weather/Weather/Weather.csproj.user
/C#/Weather/.vs
/C#/Weather/Weather/bin/Debug/net8.0
/C#/Weather/Weather/obj
/C#/Weather/WeatherUnitTests/bin/Debug/net8.0
/C#/Weather/WeatherUnitTests/obj
/C#/Weather/TestResults/889e3a00-c1e4-4345-b559-68f50a8305f6
/C#/Weather/WeatherUIUnitTests/bin/Debug/net8.0
/C#/Weather/WeatherUIUnitTests/obj
